@model isuuetracker.Models.Modelclass
@{
    ViewBag.Title = "login";
    Layout = "";
}
<style>
    body {
        background: url("/bg.jpg");
        width: 99%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    ul{
        color: red;
        margin:0px;
    }
    li{
        margin-bottom:10px;
    }
    #log {
        background-color: #E5E5E5;
        height: auto;
        width: 300px;
        border-radius: 3px;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 15%;
        box-shadow: 0px 0px 25px white;
        border-
    }
        #log:hover {
            box-shadow: 0px 0px 25px black;
        }
    form{
        text-align :center;
        padding:10px;
    }
    input{
        padding:10px;
        margin-bottom:10px;
        border-radius:5px;
        outline:none;
        border:none;
    }
    #sub {
        padding: 7px;
        background-color:whitesmoke;
        border-radius: 5px;
        
        border-color: white ;
            outline:none;
        border: none;
    }
    span {
        color: lightgrey;
        text-shadow: 3px 3px 10px white;
        margin-bottom: 10px;
        font-family: 'Times New Roman';
        font-size: 30px;
        font-weight: 400;
    }
</style>
<div id="log">
    <span>Login</span><br />
@using (Html.BeginForm("login", "login", FormMethod.Post))
{

   
    @Html.TextBoxFor(m=> m.username, null, new {  placeholder = "Username" })<br />
    @Html.TextBoxFor(m => m.password,null,new { Type="password", placeholder ="Password" })<br/>
    <input type="submit" id="sub" value="Login" />

}
@Html.ValidationSummary()
</div>